%main{:class => "bs-masthead", :id => "content", :role => "main"}
  .container
    %h1 Twilio + Sinatra and Bootstrap 3.0
    %p.lead Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
  .col-md-4
    .panel.panel-default
      .panel-heading Fluid Grid 1/3
      .panel-body Panel content
  .col-md-4
    .panel.panel-default
      .panel-heading Fluid Grid 1/3
      .panel-body Panel content
  .col-md-4
    .panel.panel-default
      .panel-heading Fluid Grid 1/3
      .panel-body Panel content